body {
     background-image: url("Images/background.jpg");
     background-size: cover;
     text-align: center;
}
 h1 {
     font-style: normal;
     font-family: "Calibri";
     color: white;
     text-align: center;
}

	
 img{
     width:10%;
     height:10%;
	 margin-right:150px;
 }
  
 table{
     background-color: Black;
     margin-left: 10px;
     border: 2px solid white;
}
caption {
	
	font-family: "Times New Roman";
	color: white;
	text-align: center;
}
 th, td{
     padding: 12px;
}
 table, th, td{
     height: 45px;
     text-align: center;
     color: white;
     border: 2px solid white;
 }
	p { 
	
	font-family: "Calibri";
	color: white;
	
	text-align: right;

}
	p1 { 
	font-style: italic ;
	font-family: "Britannic Bold";
	color: white;
	text-align: center;

}